*{
    box-sizing: border-box;
}

.container{
    height: 400px;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center; 

}

.box{
    border:1px solid red;
    width: 150px; 
    flex-basis: 50%;
    /* height:100px; */
    /* flex-basis:50%; */
}

#b1{
    order: 1;
}
#b2{
    order: 1;
}
#b3{
    order: 1;
}
#b4{
    order: 1;
}